body {padding-top: 10px;padding-bottom: 40px;}
.span12, .container {width: 940px;}
.no_margin_left {margin-left: 0;}
footer h4 {margin-bottom: 8px;}
.logo {
  height: 90px;
}
.links a {
  margin-right: 5px;
}

/* product_list - the side bar*/
.product_list {
  margin-top: -5px;
  margin-left: 5px;
  min-height: 500px;
}
.product_list ul {
  list-style: none;
  margin: 0;
}
.product_list > ul > li {
  padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
  border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
  text-decoration: none;
}
.product_list > ul > li > a:hover{
  text-decoration: none;
  background: none;
}
.product_list > ul > li ul {
  display: none;
}
.product_list > ul > li a.active {
  font-weight: bold;
}
.product_list > ul > li a.active + ul {
  display: block;
}
.product_list > ul > li ul > li {
  padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
  text-decoration: none;
  display: block;
}
.product_list > ul > li ul > li > a.active {
  font-weight: bold;
}


.related_products .span2 {
  width:160px;
}


.product_comparison .thumbnail{
  border: none;
  text-align:center;

}

.product_comparison small{
  font-weight: normal;
}

.product_comparison .product_stars {
  text-align:center;
  margin: 0 auto;
  width: 85px;
}
.product_comparison .price_summary td{
  text-align:center;
}
.navbar .btn.search_btn {
  margin-top:1px;
}

.carousel-inner {
  height: 286px;
}
.carousel-caption {
  bottom: -77px;
}

.popular_products .span2{
  width:160px;
}


.customer_service {
  text-align:right;
  font-size:13px;
}

.table td.center_text{
  text-align:center;
}

i.cart_icon{
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("/images/cart.png");
  background-repeat: no-repeat;
}

.field_with_errors label{
  color: #B94A48;
}

.field_with_errors input{
  border-color: #953B39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.product-image-wrapper{
  margin: 10px 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 150px;
  width: 210px;
}

.centered{
  text-align:center;
}

.label-price{
  font-size: 13px;
}

ul.product-gallery li{
  margin: 5px 5px 0 0;
}

.modal-header {
  border-bottom: none;
}

.product-gallery{
  margin-left: 0px;
}

ul.checkout_states{
  font-size: 16px;
}

ul.footer_menu {
  float: right;
  list-style: none;
}

ul.footer_menu li {
  float: left;
  margin-left: 1em;
}

.cart{
  padding: 5px;
  margin-bottom: 0;
  width: 130px;
}