<hr/>
<div class="row well no_margin_left">
  <div class="row pull-right">
    <ul class="footer_menu">
      <% for page in Page.footer_links do %>
        <li><%= link_to page.title, page.link %></li>
      <% end %>
    </ul>
  </div>
</div>
